<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-12 col-md-6">
        <img src="/images/alok.jpeg" alt="" class="rounded img-fluid mb-5">
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
        <!-- <div class="d-flex flex-column justify-content-center align-items-center"> -->
            <h2>Alok Jaiswal</h2>
            <p>Hii! Thanks for using our services.</p>
            <p class="fs-3 text-center">I am full stack web developer, a coder, and a student of NIT KURUKSHETRA.</p>
        <!-- </div> -->
    </div>
</div>